@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/*
override

*/

#page-title,
#navigation,
#header{
	display:none
	
}
.parallaxParent {
	height: 100vh;
	overflow: hidden;
	position:relative;
	z-index:-1;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -50%;
}

.parallaxParent  img{
	width:100%;
}

.navbar{
	background:#003200;
	
}
#myCarousel img{
max-width:100%;
height:auto;
}
.carousel-caption {
    left: 0;
    right: 0;
    width: 100%;
}
.views-slideshow-controls-bottom{
position:relative;
  z-index:7
} 
.views-slideshow-controls-bottom  .views-slideshow-simple-pager{
width:200px;
margin:0 auto;
}
.views-slideshow-controls-bottom > div > div{
padding:5px;
   background:#000;
}
.views-slideshow-controls-bottom  a:link{
color:#fff;

}

#myCarousel{
position:relative
  
}
.carousel-caption div{
background:#000;
  z-index:0;
  font-size:0;
  position:absolute;
  opacity:.5;
  width:100%;
height:300px
}
#myCarousel .carousel-caption a{
color:#ffdd00

}
.carousel-caption h1, 
.carousel-caption p{
  font-family: 'Noto Serif', serif;
  position:relative;
  z-index:5;
  width:98%
}

#myCarousel .carousel-caption p{
font-size:16px ;
padding:0 20px;  
}
.nav > li > a{
	z-index:7	
}

.ssg-block{
  font-family: 'Noto Serif', serif;
  background:#f4f4f4;
  padding:5px 0
}/*
.ssg-block img{
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  vertical-align:top;
}

.preview-info{
  padding:3px
}
.preview-content{ 
 display:inline-block;
 width:150px;
 font-size:12px
}
*/
.preview-info.animated,
.article-info.animated{
animation-fill-mode:none 
}


/*
#parallax1 div{
	background-image: url(../parallax/1.jpg);
}
						
#parallax2 div{
	background-image: url(../parallax/2.jpg);
}

*/
.carousel-caption h1{
color:#ffdd00;


}
.carousel-caption h1:hover{
text-decoration:none
}

/*
Back to Top 

*/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: /*rgba(232, 98, 86, 0.8)*/rgba(255, 153, 0, 0.5) url(img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: .5;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  
  border-radius:30px 30px 30px 0;
  -webkit-border-radius:30px 30px 30px 0;
  -moz-border-radius:30px 30px 30px 0;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color:#FF9900 /*#e86256*/;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 30px;
    bottom: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}

/* Webform Contact Us */
#contact h2,
#contact .submitted{
	display:none
	
}

#newsEvent{
	background: transparent url(img/bg-latest-news-events.jpg) center top no-repeat;
    padding-top: 50px;
    padding-bottom: 25px;
    border-top: 1px solid #c6c6c6;
    min-height: 342px;
    position: relative;
	border-top:solid #FFFF00;
	border-bottom:solid #FFFF00
	
}

.latest-events h2{
	font-family: 'PT Sans', sans-serif;
	color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
	
}
.latest-events a{
	display: inline-block;
    background-color: #f9ae31;
    font-size: 12px;
    padding: 11px 10px 10px 23px;
    margin-bottom: 5px;
    color: #005BA3;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
	
}

.latest-news-image img{
  width:50px;
  height:50px;
  float:left;
  margin-right:5px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.latest-news-image p{
display:block;
color: #fff;
font-size: 13px;
line-height: 1.4;
}
.latest-news-info a{
	font-size: 22px;
    color: #fcaf17;
    line-height: 1.2;
	
}
.nd-type{
	font-size: 16px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
	
}
.nd-created{
	font-size: 16px;
    color: #fff;
}

/*
hover effects
*/

/**
   Coded by /u/j0be in scss.
   See scss source here -> https://codepen.io/j0be/pen/MKRVyN
*/

p { margin: 0; padding: 0; }
 .content-item { 
 background: url(https://dribbble.s3.amazonaws.com/users/21389/screenshots/537633/image_ink_logo.png);
 -moz-backface-visibility: hidden;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 margin: 20px auto;
 overflow: hidden;
 position: relative;
 width: 270px;
 height: 170px; 
 } 
 .content-item .overlay {
	 border-bottom: 100px solid #e8c63d;
 border-left: 100px solid transparent;
 bottom: 0; height: 0;
 opacity: .95;
 position: absolute;
 right: 0; text-indent: -9999px;
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 transition: all 0.5s ease-out; width: 0;
 } .content-item:hover .overlay {
	 border-bottom: 800px solid #e8c63d;
 border-left: 800px solid transparent;
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 transition: all 0.5s ease-out;
 }
 .content-item .corner-overlay-content {
	 bottom: 15px;
	 color: #333;
	 position: absolute;
	 right: 15px;
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 transition: all 0.5s ease-out; } 
 .content-item:hover .corner-overlay-content { opacity: 0;
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 transition: all 0.5s ease-out; 
 }
 .content-item .overlay-content {
	 bottom: 0; color: #333;
	 left: 0; opacity: 0;
	 padding: 30px;
	 position: absolute;
	 right: 0; top: 0;
	 -moz-transition: all 0.3s ease-out; 
	 -o-transition: all 0.3s ease-out;
	 -webkit-transition: all 0.3s ease-out;
	 transition: all 0.3s ease-out;
	 } 
.content-item .overlay-content h2 {
	border-bottom: 1px solid #333;
	padding: 0 0 12px;
	} .content-item:hover .overlay-content { 
	opacity: 1;
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s; 
	transition-delay: 0.3s; 
} 

#main-content{
	    background: url(img/bg-department.jpg) left top repeat;
	
}
main-content{
	    background: url(img/bg-header.png) left top repeat;
	
}
